* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / auto 1fr auto;
}

h1 {
	text-align: center;
	background-color: rgb(80 80 80 / 1);
	padding: 0.5rem;
	color: #fff;
}

p {
	text-align: center;
}

nav {
	margin: 0 auto 2rem;
	
	background-color: rgb(0 0 0 / 1);
}

main {
	margin: 1rem;
	border: 1px solid rgb(0 0 0 / .2);
	padding: 1rem;
	background-color: #eee;
}

.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #333;
	align-items: center;
}

.navigation li {
	flex: 1 1 auto; /* What is the difference between auto and 100% flex-basis? - turn on link borders to view */
}

.navigation a {
	font-weight: 700;
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	text-decoration: underline;
	text-decoration-color: yellow;
}

header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 4;
}

.left-sidebar {
    background: lightblue;
    grid-column: 1 / 2;
}

main {
    background: coral;
    grid-column: 2 / 3;
}

.right-sidebar {
    background: yellow;
    grid-column: 3 / 4;
}

footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
}

.left-sidebar,
.right-sidebar {
    padding: 1rem;
}