.ex5 .parent {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}

.ex5 header {
    padding: 2rem;
    grid-column: 1 / 4;
}

.ex5 .left-side {
    grid-column: 1 / 2;
}

.ex5 main {
    grid-column: 2 / 3;
}

.ex5 footer {
    grid-column: 1 / 4;
}