*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root   {
    font-family: Arial, sans-serif;
    font-size: 1.75vw;
}



.centered   {
    padding: 2rem;
    text-align: center;
}

.right-aligned   {
    padding: 2rem;
    text-align: right;
}

.bottomed   {
    padding: 2rem 0 0 0;
    text-align: center;
}

.red1   {
    background-color: #fcc;
}

.blue1   {
    background-color: #ccf;
}

.green1   {
    background-color: #cfc;
}