/* CSS directives */

@media screen and (min-width: 1000px) {

    body {
        font-size: 1.3vmax;
    }

    main {
        position: relative;
        width: 100%;
        height: auto;
    }

    section {
        padding: 0.5rem;
        background-color: rgb(from var(--color-white) r g b / 70%);
        border: 3px solid rgb(from var(--color-black) r g b / 30%);
    }

    #country-data {
        position: absolute;
        top: 5vh;
        left: 2vw;
    }

    #country-weather {
        position: absolute;
        bottom: 10vh;
        right: 2vw;
    }

    #country-weather h2::after {
        content: "\00a0 \00a0 \00a0 \2601";
        font-size: 1em;
    }

    #country-weather img {
        display: none;
    }

    h2 {
        background-color: var(--color-darkBlue-1);
        color: var(--color-white);
        margin: 0 auto 0 -1rem;
        padding: 0.25rem;
        padding-right: 2rem;
        text-align: left;
        width: fit-content;
    }
}