* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	padding: 1rem;
}

header {
	display: flex;
	gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;	
}

main {
	width: 100%;
	/* display: flex;
	flex-wrap: wrap; */
	display: block;
	gap: 1rem;
	margin: 0 auto;
	padding: 0;
}

main h1 {
	text-align: center;
	padding: 1rem;
}

main section {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;
}

main figure {
	margin: 0 auto;
}

main img {
	margin: 0 auto;
	min-width: 90%;
	border-radius: 2%;
}

main figcaption {
	text-align: center;
}

footer {
	text-align: center;
	padding: 0.5rem;
}

header, main {
	margin: 0 auto;
}

header, footer {
	background-color: #36454f;
	color: #fff;
}

header p {
	font-size: 2rem;
}
nav {
	background-color: #36454f;
	margin: 0 0 0 auto;
	max-width: 800px;
}

nav ul {
	list-style-type: none;
	justify-content: right;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	border: 1px solid #fff;
}
.active {
	color: yellow;
}

@media (min-width: 640px) {
	nav ul {
		display: flex;

	}
}