* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  /* Min 16px, Preferred 2.5vh, Max 24px */
  font-size: clamp(16px, 2.5vh, 24px);
}

html,
body {
  margin: 0;
  padding: 0;
}

header,
footer {
  width: 100%;
  margin: 0 auto;
  padding: 0.75rem;
  text-align: center;
  background-color: #364580;
  color: #fff;
  font-weight: 500;
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#pHeader {
  font-size: 1.8rem;
}

nav {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

nav ul li {
  flex: 1 1 100%;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #406090;
}

main {
  margin: 1rem auto;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  place-items: center;
}

figure {
  margin: 0.25rem;
  padding: 0.25rem;
}

figure img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0.5rem;
}

figure figcaption {
  margin: 0 auto;
  text-align: center;
  padding: 0.5rem;
}

p {
  display: block;
  text-align: center;
  margin: 1rem;
  padding: 0;
}