* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 0.2); /* 1 */
    padding: 1rem;
    background-color: #0ef;
}

main {
    display: grid;
    grid-template-column: 1fr;
    gap: 1rem;
}

section {
    background-color: #bef;
    padding: 0.25rem;